<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<!-- Bootstrap-->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

<body>
    <h1>Edit book</h1>

    <form th:object="${book}" th:action="@{/save}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label>Title</label>
            <input type="text" th:field="*{title}" />
        </div>

        <div>
            <label>Author</label>
            <input type="text" th:field="*{author}" />
        </div>

        <div>
            <label>Publication Year</label>
            <input type="number" th:field="*{publicationYear}" min=0 />
        </div>

        <div>
            <label>ISBN</label>
            <input type="text" th:field="*{isbn}" />
        </div>

        <div>
            <label>Price</label>
            <input type="number" th:field="*{price}" min=0 />
        </div>

        <div style="clear: both; display: block; height: 10px;"></div>
        <label>Category</label>
        <select th:field="*{category.id}" class="form-control">
            <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}">
            </option>
        </select>

        <div style="clear: both; display: block; height: 10px;"></div>

        <button class="btn btn-success" type="submit">Update</button>

    </form>


</body>

</html>